<!DOCTYPE html>
<html>

<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Montserrat", sans-serif
        }
        
        .w3-row-padding img {
            margin-bottom: 12px
        }
        /* Set the width of the sidebar to 120px */
        
        .w3-sidebar {
            width: 120px;
            background: #222;
        }
        /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
        
        #main {
            margin-left: 120px
        }
        /* Remove margins from "page content" on small screens */
        
        @media only screen and (max-width: 600px) {
            #main {
                margin-left: 0
            }
        }
    </style>
</head>

<body class="w3-black">

    <!-- Icon Bar (Sidebar - hidden on small screens) -->
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
        <a href="https://www.youtube.com/watch?v=H4dGpz6cnHo&ab_channel=KanePixels"><img src="https://cdn6.aptoide.com/imgs/6/6/0/660f34eaef9f38443ee4e6c2a28fe966_icon.png" width="3%"></a>
        <a id="nav-title" class="navbar-brand" href="/">BLOOD WEB CHAT </a>
        <!-- Avatar image in top left corner -->
        <a href="/grupos" class="w3-bar-item w3-button w3-padding-large w3-black">
            <i class="fa fa-home w3-xxlarge"></i>
            <p>TODOS OS GRUPOS</p>
        </a>
        <a href="/usuariosgrupos/listagemPorUsuario" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-user w3-xxlarge"></i>
            <p>MEUS GRUPOS</p>
        </a>
        <a href="/grupos/cadastro" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-eye w3-xxlarge"></i>
            <p>CRIAR GRUPO</p>
        </a>
        <a href="/usuarios/logout" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-envelope w3-xxlarge"></i>
            <p>SAIR</p>
        </a>
    </nav>

    <!-- Navbar on small screens (Hidden on medium and large screens) -->
    <div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
        <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
            <a href="/grupos" class="w3-bar-item w3-button" style="width:25% !important">TODOS OS GRUPOS</a>
            <a href="/usuariosgrupos/listagemPorUsuario" class="w3-bar-item w3-button" style="width:25% !important">MEUS GRUPOS</a>
            <a href="/grupos/cadastro" class="w3-bar-item w3-button" style="width:25% !important">CRIAR GRUPO</a>
            <a href="/usuarios/logout" class="w3-bar-item w3-button" style="width:25% !important">SAIR</a>
        </div>
    </div>
    </div>

</body>

</html>
<!-- 
<nav style="background-color: #000000;" class="navbar navbar-inverse">
    <a href="https://www.youtube.com/watch?v=H4dGpz6cnHo&ab_channel=KanePixels"><img src="https://cdn6.aptoide.com/imgs/6/6/0/660f34eaef9f38443ee4e6c2a28fe966_icon.png" width="3%"></a>
    <a id="nav-title" class="navbar-brand" href="/">BLOOD WEB CHAT </a>
    <div id="nav-ul" class="navbar-header">
        <ul class="nav navbar-nav">
            <li><a href="/grupos" id="nav-a">TODOS GRUPOS</a></li>
            <li><a href="/usuariosgrupos/listagemPorUsuario" id="nav-a">MEUS GRUPOS</a></li>
            <li><a href="/grupos/cadastro" id="nav-a">CRIAR GRUPO</a></li>
            <li><a href="/usuarios/logout" id="nav-a">SAIR</a></li>
        </ul>
    </div>
</nav>
<% if(typeof criarSection =="undefined" || criarSection){ %>

    <%}%> -->