<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<nav style="background-color: #000000;" class="navbar navbar-inverse">
    <a href="https://www.youtube.com/watch?v=H4dGpz6cnHo&ab_channel=KanePixels"><img src="https://cdn6.aptoide.com/imgs/6/6/0/660f34eaef9f38443ee4e6c2a28fe966_icon.png" width="3%"></a>
    <a id="nav-title" class="navbar-brand" href="/">BLOOD WEB CHAT </a>
    <div id="nav-ul" class="navbar-header">
        <ul class="nav navbar-nav">
            <li><a href="/grupos" id="nav-a">TODOS GRUPOS</a></li>
            <li><a href="/usuariosgrupos/listagemPorUsuario" id="nav-a">MEUS GRUPOS</a></li>
            <li><a href="/grupos/cadastro" id="nav-a">CRIAR GRUPO</a></li>
            <li><a href="/usuarios/logout" id="nav-a">SAIR</a></li>
        </ul>
    </div>
</nav>
<% if(typeof criarSection =="undefined" || criarSection){ %>

    <%}%>